* {
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
}

::-webkit-scrollbar {               
    display: none;
}                           
.bg-img {
    background-image: url("img/bg-home.jpg");
    width: 100%;
    height: 100%;                       
    background-position: center;
    background-repeat: no-repeat;       
    background-size: cover;             
    position: relative;                
}

.container {
    margin: auto;              
    text-align: center;
}
/* .shopname{
    position: absolute;       
    width: 700px;    
	display: flex;            
    align-items: center;
    margin-top: 130px;
	justify-content: center;	
} */

.shopname {
    position: absolute;
    width: 700px;
    margin-top: 130px;
    justify-content: center;
}

.text-box {
	position: relative;
	display: flex;               
    margin-left: 80px;
}  

.k {
	font-size: 80px;
	font-weight: 900;
	background-color: #1a1818c4;
    /* #eee0e0c4 and #131212c4 */
	color: #eb9868;	
    padding: 25px;
}

.k:nth-child(2) {             
	position: absolute;	
	color: #000000ab;
	clip-path: inset(45% -1% 50% -1%);  
}

.punch {
	font-size: 17px;
	font-weight: 900;
    margin-top: 280px;
    margin-left: 200px;
    color: #eb9868;
}

/* Next button--------------------- */
.next-button{
    display: flex;
    margin-top: 250px;
    margin-left: 88%;
}  
.next-button a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 19px;
    background-color: #eb9868;
    color: #000000;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 3px;
  }
  
.next-button a:hover {
    background-color: rgb(255, 255, 255);
    color: #211107;
    box-shadow: 0px 18px 16px   #000000ab, 
    2px 6px 20px #eb9868;
  }

.next-button:active {
    transform: translateX(21px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.next-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all .9s;
}

/* --------------------- */

/* The navbar */
.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;    
}

/* Navbar links */
.topnav a {
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size:xx-large;
    font-family: Lucida Handwriting;
    color:#211107;
    text-shadow: 0 0 12px  white, 0 0 15px #eb9868;    
}

.topnav a:hover {
    background-color: #211107a8;
    color: white;
}

.contain {
    padding: 50px;
    background-color: #ccc;
    /* margin: 50px; */
    border-radius: 10px;
}
.cont {
    display: flex;
    flex-direction: row;
}
.cont1 {
    width: 50%;
}
.cont2 {
    width: 50%;
}

.head-footer {
    font-size: 40px;
    margin: 10px;
}

ul{
    list-style: none;
}
li {
    padding: 3px;
}
li a {
    text-decoration: none;
}

.num {
    margin-left: 5px;
    display: inline;
}
.ig-icon {
    margin-left: 5px;
}
.fb-icon {
    margin-left: 5px;
}

.feedback{
    margin-left: 3px;
}

.last-div{
    padding: 50px; 
    background: linear-gradient(to bottom,#75462ad3, #130a03,#211107);
    /* #75462ad3, #130a03,#211107,#211107e3, #75462ad3 */
}

@media screen and (max-width: 540px) {

    /* .shopname{     
        width: 300px;    
        display: flex;            
        align-items: center;
        margin-top: 38px;
        justify-content: center;
    } */

    .shopname {
        width: 100%;
        margin-top: 0px;
        margin-left: 10px;
    }
    .text-box {
        position: relative;
        display: flex;
        margin-left: 4px;
    }

    .k {
        font-size: 30px;
        font-weight: 900;
        background-color: #131212c4;
        color: #eb9868;        
        padding: 19px;
    }
    
    .k:nth-child(2) {             
        position: absolute;        
        color: #fdfafa;
        clip-path: inset(45% -1% 50% -1%);  
    }
    .punch {
        font-size: 14px;
        margin-top: 70px;
        margin-left: 13px;
    }
    .next-button {
        margin-top: 300px;
        margin-left: 62%;
    }
    .next-button a {
        padding: 5px 11px;
    }
    .next-button:active {
        transform: translateX(17px);
    }
    .next-button::after {
        transition: all .7s;
    }
    
      
    /* .next-button a:hover {
        background-color: #ddd;
        color: #211107;
      } */

    /* The navbar */
    .topnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    /* Navbar links */
    .topnav a {
        margin-top: 40px;     
        font-size:x-large;
    }

    .contain {
        padding: 20px;
        /* margin: 20px; */
        height: max-content;
    }        

    .cont {
        display:block;
        height: 50%;
    }    

    .head-footer {
        font-size: 30px;
        margin: 1px;
    }    
    .cont2 {
        margin-top: 50px;
    }    

    .pp{
        width: 292px;
        font-size: large;
    }

    .pp-h1{
        font-size: 30px;
    }

    hr {
        margin-top: 100px;
    }
    .last-div{
        padding: 20px; 
        background: linear-gradient(to bottom, #130a03,#211107, #ca815794);
        /* 1b0e05 */
    }
    footer.last-div {
        box-sizing: border-box;
    }

}
/* @media screen and (max-device-width: 320px) {
    .topnav{
        padding: 0px;
    }
    .shopname{     
        width: 265px;    
        display: flex;            
        align-items: center;
        margin-top: 28px;
    }

    .k {
        font-size: 30px;
        font-weight: 900;
        background-color: #131212c4;
        color: #eb9868;        
        padding: 13px;
    }

    .punch {
        font-size: 14px;
        margin-top: 89px;
        margin-left: 17px;
    }
    .next-button{
        margin-top: 335px;
        margin-left: 62%;
    }
    .next-button a {
        padding: 3px 8px;
    }
} */